body {

    background-color: greenyellow;
}
header {
    background-color: green;
    text-transform: uppercase;
   
    border-radius: 10px;
   
}
a {
    color:black;
  
    border: 4px solid black;
    border-radius: 8px;
    margin: 5px;
    white-space: nowrap; /* chatgpt kód */
    display: inline-block; /*chatgpt kód */
    text-decoration: none;
    padding: 5px;
      
}

nav {
    margin-bottom: 10px;

}
* {
    box-sizing: border-box;
}
img {
 
    border: 5px solid black;
    border-radius: 10px;
    width: 100%;
    height: auto;
}
section {
    margin-top: 10px;
    padding: 10px;
    border: 5px solid black;
    border-radius: 15px;
    background-color: green;
}
p {
    border: 5px solid black;
    border-radius: 10px;
    background-color: greenyellow;
}
article {
    gap: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media (max-width: 800px) {
    article{
        gap: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
} 

@media (max-width: 500px) {
    article{
        gap: 10px;
        display: grid;
        grid-template-columns: 1fr;
    }

}

#bekezdes_footer {
    background-color: green;
    border: 5px solid black;
    font-size: large;
}

header{
border: 5px black solid;
text-align: center;
}
a:hover{
    background-color: greenyellow;
}

